header {
    /* border: 1px solid red; */
}

header img {
    display: block;
    width: 60%;
    max-width: 500px;
    margin: 0 auto;
    padding: 1.5rem 1rem;
}

.cSearch {
    width: 100%;
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    padding: 1rem 2.5rem;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 5;
    box-shadow: 0 0rem 1rem #0000000f;
}

#idSearchInput {
    width: 30rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 1rem;
}

#idSearchGo {
    border: 0;
    background: #f3f3f3;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}

#idSearchGo:hover {
    background: #e9e9e9;
}

#idSearchClear {
    border: 0;
    background: #f3f3f3;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}

#idSearchClear:hover {
    background: #e9e9e9;
}

.cSecGallery {
    width: 100%;
    padding: 2.5rem;
}

.cPokedexContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.cPokedexContainer .cCards {
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    padding: 1rem;
    box-shadow: 0rem 0rem 1rem 0rem #a8a7a7;
}

.cPokedexContainer .cCards:hover {
    scale: 1.01;
    box-shadow: 0rem 0rem 1rem 0rem #8f8e8e;
    cursor: pointer;
}

.cPokedexContainer .cCards h3 {
    align-self: flex-end;
    color: #0000001e;
}

.cPokedexContainer .cCards h2 {}

.cPokedexContainer .cCards .cCardThumbs {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 15rem;
    gap: 2rem;

    img {
        display: block;
        border: 0;
        width: 13rem;
        background: #ffffff00;
    }

    .cCardTypes {
        display: flex;
        justify-content: space-between;
        gap: 1rem;

        p {
            padding: 0 0.5rem;
            border-radius: 2rem;
            box-shadow: 0rem 0rem 1rem 0rem #ecebeb;
        }
    }
}

#idBtnLoadMore {
    z-index: 1;
    position: fixed;
    bottom: 2rem;
    right: max(2rem, calc((100vw - 1440px)/2 + 2rem));
    border: 0;
    border-radius: 1.5rem;
    box-shadow: 0rem 0rem 1rem 0.1rem #8f8f8f;
}

#idBtnLoadMore:hover {
    scale: 1.1;
    cursor: pointer;
    box-shadow: 0rem 0rem 1rem 0.1rem #494949;
}

#idBtnLoadMore img {
    width: 5rem;
    padding: 0.5rem;

}