header {
    /* border: 1px solid red; */
}

header img {
    display: block;
    width: 60%;
    max-width: 500px;
    margin: 0 auto;
    padding: 1.5rem 1rem;
}

.cSecGallery {
    width: 100%;
    padding: 2.5rem;
}

.cPokedexContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.cPokedexContainer .cCards {
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    padding: 1rem;
    box-shadow: 0rem 0rem 1rem 0rem #a8a7a7;
}

.cPokedexContainer .cCards:hover {
    scale: 1.01;
    box-shadow: 0rem 0rem 1rem 0rem #8f8e8e;
    cursor: pointer;
}

.cPokedexContainer .cCards h3 {
    align-self: flex-end;
    color: #0000001e;
}

.cPokedexContainer .cCards h2 {}

.cPokedexContainer .cCards .cCardThumbs {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 15rem;
    gap: 2rem;

    img {
        display: block;
        border: 0;
        width: 13rem;
        background: #ffffff00;
    }

    .cCardTypes {
        display: flex;
        justify-content: space-between;
        gap: 1rem;

        p {
            padding: 0 0.5rem;
            border-radius: 2rem;
            box-shadow: 0rem 0rem 1rem 0rem #ecebeb;
        }
    }
}

#idBtnLoadMore {
    position: fixed;
    /* z-index: 1; */
    bottom: 0;
    right: 0;
    transform: translate(-50%, -50%);
    border-radius: 2rem;
    border: 0;
}

#idBtnLoadMore:hover {
    scale: 1.1;
    cursor: pointer;
    box-shadow: 0rem 0rem 1rem 0rem grey;
}

#idBtnLoadMore img {
    width: 5rem;
    padding: 0.5rem;

}