#idDlg {
    border: 0;
    border-radius: 2rem;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;

    &::backdrop {
        background: #808080bc;
    }
}

#idDlg .cDlgHeader {
    display: flex;
    justify-content: space-between;
}

#idDlg .cDlgCloseBtns {
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border: 0;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 0.5rem black;
    background: #ffffff00;


    img {
        width: 2rem;
        height: auto;
        padding: 0.3rem;
    }

    &:hover {
        box-shadow: 0rem 0rem 1rem black;
        cursor: pointer;
    }
}

#idDlg h3 {
    align-self: flex-start;
    color: #0000005a;
}

#idDlg h2 {}

#idDlg .cDlgThumbs {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-width: 28rem;

    .cDlgTypes {
        border-radius: 1rem;
        padding: 0.5rem;
        box-shadow: 0rem 0rem 1rem #dcdcdc;
    }

    img {
        width: 17rem;
    }
}

#idDlg .cDlgAbout {
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    box-shadow: 0rem 0rem 1rem #dcdcdc;
    padding: 1rem;
    overflow-y: auto;
    height: 14rem;

    table tr th {
        text-align: start;
        display: flex;
    }
}

#idDlg .cDlgMoveBtns {
    /* border: 1px solid red; */
    border-radius: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0rem 0rem 1rem #a7a6a6;
    padding: 0.3rem;


    span {
        font-size: 1em;
        font-style: oblique;
    }

    button {
        border: 0;
        background: #ffffff00;
        padding: 0.5rem;

        &:hover {
            border-radius: 5rem;
            box-shadow: 0rem 0rem 1rem #dcdcdc;
            cursor: pointer;
        }

        img {
            width: 2rem;
        }
    }
}