dialog {
    border: 0;
    border-radius: 2rem;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &::backdrop{
        background: #808080bc;
    }
}

dialog .cDlgCloseBtns {
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border: 0;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 0.5rem black;
    background: #ffffff00;


    img {
        width: 2.5rem;
        height: auto;
        padding: 0.3rem;
    }

    &:hover {
        box-shadow: 0rem 0rem 1rem black;
        cursor: pointer;
    }
}

dialog h3 {
    align-self: flex-start;
    color: #0000005a;
}

dialog h2 {}

dialog .cDlgThumbs {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-width: 28rem;

    .cDlgTypes {
        border-radius: 1rem;
        padding: 0.5rem;
        box-shadow: 0rem 0rem 1rem #dcdcdc;
    }

    img {
        width: 25rem;
    }
}

dialog .cDlgAbout {
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    box-shadow: 0rem 0rem 1rem #dcdcdc;
    padding: 1rem;

    table tr th {
        display: flex;
    }
}

dialog .cDlgMoveBtns {
    /* border: 1px solid red; */
    border-radius: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0rem 0rem 1rem #a7a6a6;
    padding: 0.3rem;


    span {
        font-size: 1.5em;
    }

    button {
        border: 0;
        background: #ffffff00;
        padding: 0.5rem;

        &:hover {
            border-radius: 5rem;
            box-shadow: 0rem 0rem 1rem #dcdcdc;
            cursor: pointer;
        }

        img {
            width: 5rem;
        }
    }
}