#idDlgLoadingSpinner {
    border: 0;
    background: #f5deb300;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &::backdrop {
        background: #2c2b2bed;
    }
}